// tamaño de fuentes

$x-small:12px;
$small:14px;
$medium: 16px;
$large: 18px;
$x-large: 20px;
$xx-large: 30px;
$xxx-large: 50px;

// colores maqueta 

$color-white: #FFF;
$isabelline: #ECECEC;
$ligth-gray: #D1D1D1;
$quick-silver: #646266;
$granite-gray: #646266;
$smoky-black: #0C0910;

//Breakpoint 

// mobile
$bp-sm: 576px;
// tablet
$bp-md: 768px;
//escritorio xl
$bp-lg: 1200px;

