.header {
    &__img {
        background: url(../img/imagen1.png);
        height: 40vh;
        width: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        justify-self: stretch;
        align-self: stretch;

    }

    @include respond-to($bp-md) {
        &__img {
            height: 50vh;
        }
    }

    @include respond-to($bp-lg) {
            &__img {
                width: 100%;
            }
        }
    }