body {
  margin: 0;
}

.button {
  text-decoration: none;
  border: none;
  margin: 15px 0;
  padding: 8px 17px;
  font-family: "Old Standard TT", serif;
  font-weight: "700";
  font-size: 16px;
  color: #0C0910;
  background-color: #FFF;
  border: 1.5px solid #0C0910;
}

@media (min-width: 768px) {
  .button {
    padding: 8px 20px;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .button {
    padding: 12px 30px;
    margin-top: 20px;
    font-size: 18px;
  }
}
.grilla {
  display: grid;
  height: 100vh;
  grid-template-columns: 90vw 10vw;
  grid-template-rows: 9vh 33vh 40vh 18vh;
}
.grilla .navbar {
  grid-column: 1/3;
  grid-row: 1/2;
}
.grilla .header {
  grid-column: 1/3;
  grid-row: 2/3;
}
.grilla .section {
  grid-column: 1/3;
  grid-row: 3/4;
}
.grilla .footer {
  grid-column: 1/2;
  grid-row: 4/5;
}
.grilla .vertical {
  grid-column: 2/3;
  grid-row: 4/5;
}
@media (min-width: 768px) {
  .grilla {
    grid-template-columns: 94vw 6vw;
    grid-template-rows: 8vh 33vh 38vh 21vh;
  }
  .grilla .navbar {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .grilla .header {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .grilla .section {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .grilla .footer {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grilla .vertical {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
@media (min-width: 1200px) {
  .grilla {
    grid-template-columns: 39vw 4vw 57vw;
    grid-template-rows: 10vh 62vh 28vh;
  }
  .grilla .navbar {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .grilla .header {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  .grilla .section {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .grilla .footer {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grilla .vertical {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.navbar {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.navbar__logo {
  height: 100%;
  width: 70px;
  display: inline-block;
  background-color: #0C0910;
}
.navbar__logoNombre {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  padding-top: 20px;
}
.navbar__menu {
  display: none;
}
.navbar__menuBurger {
  padding: 20px 20px;
}
.navbar__input {
  display: none;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 16px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.navbar__burger {
  display: block;
  width: 28px;
  height: 3px;
  position: relative;
  background-color: #000000;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}
.navbar .burger1 {
  -webkit-transform-origin: 10% 0%;
  transform-origin: 10% 0%;
  margin-bottom: 5px;
}
.navbar .burger2 {
  margin-bottom: 5px;
}
.navbar .burger3 {
  -webkit-transform-origin: 10% 100%;
  transform-origin: 10% 100%;
}
.navbar__input:checked ~ ul {
  width: 100%;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.navbar__input:checked ~ label .burger1 {
  opacity: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #000000;
}
.navbar__input:checked ~ label .burger2 {
  opacity: 0;
}
.navbar__input:checked ~ label .burger3 {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #000000;
}
@media (min-width: 768px) {
  .navbar .navbar {
    height: 100%;
    width: 70px;
  }
  .navbar .navbar__logo {
    display: inline-block;
    width: 100px;
  }
  .navbar .navbar__logoNombre {
    font-size: 30px;
    padding-top: 23px;
  }
  .navbar .navbar__menuBurger {
    display: inline-block;
  }
  .navbar .navbar__menu {
    display: inline-block;
    height: 200px;
  }
  .navbar .navbar__menu:last-child {
    margin-right: 15px;
  }
  .navbar .navbar__menuItem {
    color: #0C0910;
    font-family: "Old Standard TT", serif;
    font-weight: "700";
    font-family: 18px;
    margin-top: 25px;
    display: inline-block;
    padding: 0 27px;
  }
  .navbar .navbar__menuBurger {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar .navbar {
    height: 100%;
    width: 120px;
  }
  .navbar .navbar__logo {
    display: inline-block;
    width: 120px;
  }
  .navbar .navbar__logoNombre {
    padding-top: 30px;
    font-size: 30px;
  }
  .navbar .navbar__menuBurger {
    display: inline-block;
  }
  .navbar .navbar__menu {
    padding: 12px 0;
  }
  .navbar .navbar__menu:last-child {
    margin-right: 40px;
  }
  .navbar .navbar__menuItem {
    padding: 0 40px;
    font-size: 18px;
  }
  .navbar .navbar__menuBurger {
    display: none;
  }
}

.header__img {
  background: url(/assets/img/imagen1.png);
  height: 40vh;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (min-width: 768px) {
  .header__imagen {
    height: 50vh;
  }
}
@media (min-width: 1200px) {
  .header__imagen {
    height: 90vh;
  }
}

.section {
  z-index: 20;
  background-color: #FFF;
}
.section__container {
  padding: 20px 30px;
  justify-self: center;
}
.section__title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.5;
}
.section__paragraph {
  line-height: 1.5;
  font-family: "Old Standard TT", serif;
  color: #646266;
  font-size: 14px;
}
@media (min-width: 768px) {
  .section__container {
    padding: 20px 70px;
  }
  .section__title {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.3;
  }
  .section__paragraph {
    margin-top: 10px;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .section__container {
    padding: 70px;
    box-sizing: border-box;
  }
  .section__paragraph {
    line-height: 1.2;
    margin: 20px 0;
    width: 60%;
  }
}

.vertical {
  background-color: #FFF;
  color: #0C0910;
}
.vertical__paragraph {
  writing-mode: vertical-rl;
  font-family: "Raleway", sans-serif;
  font-weight: "700";
  font-size: 16px;
  padding: 6px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .vertical__paragraph {
    margin-top: 60px;
    padding: 10px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .vertical__paragraph {
    margin-top: 80px;
    padding: 15px;
    font-size: 20px;
  }
}

.footer {
  background-color: #0C0910;
  color: #FFF;
}
.footer__title {
  width: 80%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding: 12px 0 5px 0;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 30px;
    padding: 30px 20px 5px 0;
  }
}

.formulario {
  background-color: #0C0910;
  color: #FFF;
  width: 80%;
  margin: 0 auto;
}
.formulario__legend {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  padding-bottom: 8px;
}
.formulario__input {
  width: 100%;
  height: 33px;
  font-family: "Old Standard TT", serif;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .formulario__legend {
    padding-top: 8px;
  }
}
@media (min-width: 1200px) {
  .formulario__legend {
    padding-top: 15px;
    font-size: 16px;
  }
  .formulario__input {
    width: 60%;
    height: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
